<div class='create-story'>
  <button mat-button color='primary' (click)='createStory()'>+ Create Story</button>
</div>
<div class='scrum-board'>
  <div class='swimlane'>
    <span class='status'>To Do</span>
    <app-story *ngFor="let story of getStoriesByStatus('To Do')" [story]='story' (storyUpdated)='getStories()'></app-story>
  </div>
  <div class='swimlane'>
    <span class='status'>In Progress</span>
    <app-story *ngFor="let story of getStoriesByStatus('In Progress')" [story]='story' (storyUpdated)='getStories()'></app-story>
  </div>
  <div class='swimlane'>
    <span class='status'>Flagged</span>
    <app-story *ngFor="let story of getStoriesByStatus('Flagged')" [story]='story' (storyUpdated)='getStories()'></app-story>
  </div>
  <div class='swimlane'>
    <span class='status'>Done</span>
    <app-story *ngFor="let story of getStoriesByStatus('Done')" [story]='story' (storyUpdated)='getStories()'></app-story>
  </div>
</div>
